<h1 class="post-title"> <%= @post.title %> </h1>
<h2> By: <%= @post.user.username %> </h2>


<h3> <%= @post.content %> </h3>
<img class="post-img"
    src="<%= @post.url %>" 
    alt="Bad image link :(">
<p class="subtitle">Posted to:</p>
<ul class="subs">
<% @post.subs.each do |sub|  %>
    <li><a href="<%= sub_url(sub)%>"> <%= sub.title %> </a></li>
<% end %>
</ul>

<h3 style="margin-bottom:-2vw;">Add a Comment</h3>

<form action="<%= comments_url%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="hidden" name="comment[user_id]" value="<%=logged_in? ? current_user.id : nil%>">
    <input type="hidden" name="comment[post_id]" value="<%=@post.id%>">
    <label><br>
        <textarea class="comment-box" name="comment[content]" rows="5" cols="80"> </textarea>
    </label>
    <br>
    <% if logged_in? %>
        <input class="create" type="submit" value="Add Comment">
    <% else %>
      <a class="create" href="<%=new_session_url%>" style="text-decoration: none;">Log in to comment</a>
    <%end %>
</form>


<ul>
<% @all_comments.each do |comment| %>
    <% if comment.parent_comment_id.nil? %>
        <li>
            <a href="<%= comment_url(comment) %>"><%= comment.content %></a> 
            <p>- <%= comment.user.username%></p>
            <ul>
                <% @all_comments.each do |sub_comment| %>
                    <% if sub_comment.parent_comment_id == comment.id %>
                        <%= render "comment", collection: sub_comment  %>
                    <% end %>
                <% end %>
            </ul>
        </li>
    <% end %>
<% end %>
</ul>