<h1> <%= @post.title %> </h1>
<h2> By: <%= @post.user.username %> </h2>


<h3> <%= @post.content %> </h3>
<h3> <%= @post.url %> </h3>

<ul class="subs">
<% @post.subs.each do |sub|  %>
    <li><a href="<%= sub_url(sub)%>"> <%= sub.title %> </a></li>
<% end %>
</ul>
<br> <br>

<form action="<%=new_post_comment_url(@post)%>" method="get">
    <input type="hidden" name="authenticity_token"value="<%=form_authenticity_token%>">
    <input type="submit" value="Add a Comment">
</form>



<ul>
<% @all_comments.each do |comment| %>
    <% if comment.parent_comment_id.nil? %>
        <li>
            <a href="<%= comment_url(comment) %>"><%= comment.content %></a> 
            <p>- <%= comment.user.username%></p>
            <ul>
                <% @all_comments.each do |sub_comment| %>
                    <% if sub_comment.parent_comment_id == comment.id %>
                        <%= render "comment", collection: sub_comment  %>
                    <% end %>
                <% end %>
            </ul>
        </li>
    <% end %>
<% end %>
</ul>